.correctAnswer {
    background-color: green;
    color: #ffffff;
}
.deadQuestion {
    background-color: gray;
}
.hidden {
    visibility:hidden;
}

#gotoadmin {
    text-align: center;
    color: black;
}

#adminAnchor {
    margin-top: 0px;
}

#startover {
    text-align: center;
    color: black;
}

#btnStartOver {
    margin-top: 0px;
}